/** @format */
@import './variables_colors';
@import './navbar';
@import './footer';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background: color(c-black);
}

/* Home Main Section Index CSS */

.main {
  background-color: color(c-black);
  padding-top: 100px;
  @media (max-width: $laptop) {
    // display: grid;
    // grid-template-columns: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    align-content: center;
    padding-top: 0;
    width: 100%;
    margin: 0 auto;
  }
  @media (max-width: $phone) {
    display: grid;
    grid-template-columns: auto;
  }
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  background-color: color(c-black);
  z-index: 1;
  width: 100%;
  padding-bottom: 20px;
  @media (max-width: $laptop) {
    display: grid;
    grid-template-columns: auto;
    gap: 0;
  }
}

.main__content {
  @media (max-width: $laptop) {
    text-align: center;
    margin-bottom: 8rem;
  }
}

.main__content h1 {
  font-family: 'Rampart One', cursive;
  font-size: 4rem;
  background-color: color(c-aqua);
  background-image: color(c-aqua_to_lime);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  // padding: 2%;
  text-align: center;
  animation: blinker 5s linear infinite;
  @media (max-width: $display) {
    font-size: 3.5rem;
  }
  @media (max-width: $laptop) {
    font-size: 3rem;
    margin-top: 2rem;
  }
  @media (max-width: $phone) {
    font-size: 2rem;
    margin-top: 3rem;
    align-items: center;
  }
}

.main__content h2 {
  font-size: 2rem;
  color: color(c-purple);
  text-align: center;
  background-size: 100%;
  @media (max-width: $display) {
    font-size: 1rem;
  }
  @media (max-width: $laptop) {
    font-size: 2.5rem;
    text-align: center;
  }
  @media (max-width: $phone) {
    font-size: 2rem;
    align-items: center;
  }
  :hover {
    color: color(c-aqua);
  }
}

.main__content p {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: color(c-white);
  text-align: center;
  @media (max-width: $display) {
    font-size: 0.5rem;
  }
  @media (max-width: $laptop) {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
  }
  @media (max-width: $phone) {
    margin-top: 2rem;
    font-size: 1.5rem;
    align-items: center;
  }
}

.main__btn {
  font-size: 1rem;
  background-image: color(c-aqua_to_lime);
  padding: 2% 5%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 30px auto;
  transition: all 0.35s;
  outline: none;
  @media (max-width: $laptop) {
    padding: 12px 12px;
    left: 25%;
  }
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: color(c-black);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Archivo Black', sans-serif;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: color(c-white_to_aqua);
  transition: all 0.35s;
  border-radius: 10px;
}

.main__btn:hover {
  color: color(c-white);
}

.main__btn:hover:after {
  width: 100%;
}

.social-links {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  @media (max-width: $tablet) {
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
  }
}

.social-links .social-icon,
.resume {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  background-color: color(c-purple);
  color: color(c-white);
  font-size: 30px;
  border-radius: 100%;
  text-decoration: none;
}

.social-links .resume {
  font-size: 17px;
}

.social-links .social-icon:last-child {
  margin-right: 0;
}

.social-links .social-icon:hover,
.social-links .resume:hover {
  background-color: color(c-aqua);
  color: color(c-black);
  text-decoration: none;
}

/* Services Section CSS */
.services {
  color: color(c-aqua);
  // display: grid;
  // grid-template-rows: auto auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  @media (max-width: $laptop) {
    display: grid;
    grid-template-columns: auto;
  }
}

.services__header {
  color: color(c-lime);
  margin: 100px 0;
  font-size: 2rem;
  position: relative;
  text-align: center;
  @media (max-width: $laptop) {
    font-size: 1.5rem;
    margin: 50px;
  }
  @media (max-width: $phone) {
    font-size: 1rem;
  }
}

.services__container {
  background: color(c-black);
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  @media (max-width: $tablet) {
    grid-template-columns: auto;
  }
}

.services__card,
.services__card__bliss {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 15px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/tree-with-white-flowers.jpeg');
  background-size: cover;
  position: relative;
  color: color(c-white);
  @media (max-width: $laptop) {
    width: 350px;
  }
}

.services__card__leap {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/sheep-on-mountain.jpeg');
  background-size: cover;
}

.services__card__path {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pathway-into-trees.jpeg');
  background-size: cover;
}

.services h2 {
  position: absolute;
  top: 350px;
  left: 30px;
}

.services__card p {
  position: absolute;
  top: 400px;
  left: 30px;
}

.services__card button {
  color: color(c-white);
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: color(c-salmon);
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.services__card:hover {
  transform: rotate(360deg);
  transition: 1s ease-in;
  cursor: pointer;
}
